<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636246744759-0i0dnrj2ubpias4apgq4i7772emvp2rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636246744759-0i0dnrj2ubpias4apgq4i7772emvp2rr</string>
	<key>API_KEY</key>
	<string>AIzaSyAfa3Esbnx4EBq-_ppNOPKhVH5MY5kUNmU</string>
	<key>GCM_SENDER_ID</key>
	<string>636246744759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pauldefilippi.sneeks-app</string>
	<key>PROJECT_ID</key>
	<string>sneeks-7793b</string>
	<key>STORAGE_BUCKET</key>
	<string>sneeks-7793b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636246744759:ios:538a69f56f37d392be3732</string>
	<key>DATABASE_URL</key>
	<string>https://sneeks-7793b.firebaseio.com</string>
</dict>
</plist>